# OS / System
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# Logs & Temporary Files
*.log
*.tmp
*.bak
*.swp
*~

# IDE / Editor Files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.sublime-project
*.sublime-workspace

# Node / Python / Dependencies
node_modules/
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
